{
  "name": "client_app",
  "version": "1.0.0",
  "resources": {
    "subscribeTo": ["get_roots"],
    "publishTo": ["compute_coefficients"]
  },
  "runtime": "venv",
  "platform": "Linux",
  "containerized": "False",
  "commands": [
    {
      "mode": "1",
      "execCommands": ["pip3 install -r requirements.txt", "python3 demo_code/client.py"],
      "waitForExit": "False"
    }
  ],
  "dependencies": "requirements.txt"
}
